@import "../../../styles/breakpoints";

.links {
  @include mobile {
    flex-direction: column;
  }

  display: flex;
  justify-content: space-between;

  max-width: 1310px;
  margin: auto;
  padding: 0 15px;

  color: var(--color_secondary);
}

.link {
  display: flex;
  align-items: center;
  text-decoration: none;

  svg {
    margin-right: 10px;
  }
}

.linksGroup {
  @include mobile {
    flex-direction: column;
    margin-bottom: 20px;

    a:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  display: flex;

  a:not(:last-child) {
    margin-right: 30px;
  }
}
